@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-circle {
  width: 30vw;
  height: 30vw;
  background-color: #455268;
  border-radius: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.bg-circle._5 {
  background-color: #d31cbe;
  margin-top: 24%;
  margin-right: -8%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.bg-circle._3 {
  width: 40vw;
  height: 40vw;
  opacity: .7;
  background-color: #d38d1c;
  margin-top: -12%;
  margin-left: 52%;
}

.bg-circle._4 {
  width: 60vw;
  height: 60vw;
  background-color: #bed31c;
  margin-top: -32%;
  margin-right: -10%;
  left: auto;
  right: 0;
}

.bg-circle._1 {
  width: 40vw;
  height: 40vw;
  opacity: 1;
  background-color: #1cbed3;
  border-radius: 20%;
  margin-top: -16%;
  margin-left: -16%;
}

.bg-circle._2 {
  opacity: 1;
  background-color: #ebebf0;
  border-radius: 100%;
  margin-top: -20%;
}

.bg-circle._6 {
  width: 40vw;
  height: 40vw;
  background-color: #d31c62;
  margin-top: 35%;
  margin-bottom: -20%;
  margin-right: -16%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.gradient-bg {
  z-index: -1;
  opacity: .7;
  filter: blur(200px);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

#contact-us-section .block {
  max-width: 1200px;
  border: 1px solid #242424;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
  display: flex;
}

#contact-us-section h1 {
  max-width: 24ch;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
}

.marquee-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative
}

.marquee {
  display: flex;
  animation: marquee 25s linear infinite
}

.marquee img {
  width: 100px;
  height: 100px;

  flex-shrink: 0;
  margin-right: 50px;
  max-width: 200px
}

@keyframes marquee {
  0% {
    transform: translate(0)
  }

  to {
    transform: translate(-50%)
  }
}